.btn-icon-left .icon {
  margin-right: 5px;
}

.btn-icon-right .icon {
  margin-left: 5px;
}

.icon_action {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAWCAYAAAArdgcFAAABc0lEQVQ4jbWUP1LCQBSHXxzLTNIDLSStOhnKBLlAOIGUUnAA0M4/kFJEWlRs1V6Sng39LgcIB0g8wLOCEbPZjUTfTIq8N/vNt7/dWYB/LEU0RERuf+77GIYhJHECnjdUFIWPOcxjEEVrDIIASEjA94Ntf/b8JFwnhUfRGk+bzVS/5bpQr9eFOz+QwdmKcfvdble2VA4nJEz1Wq4LlUpZaJ0LztiuuaqquaxzwZfL5c5/u32WyxpAcqCEkNRd1DUd7sdjZIxBknxCuVQCyLjSQoPp9BFvB4PMuWka8DKbga7rXI4wFhKSzJmqqjB5mICmaZmCQjhjKzBNAyzLSs08b5g7e24hIiAifMznWK0Z2+/q+gY3s6wnQmq+qe933bIsuLzo72/809x2GlitGXh0fIJxHO9Yi8ylcErpNo7FYpECF4rl9e0dAAD6vZ70ofq1ue008LzT4RoXioVSirbT4OZcGH43GiGlVAjeG551gH8CL1pf1p0ZkeCqXdsAAAAASUVORK5CYII=')
}


