//// Dependencies
@import '../components/loader/loader.scss';
@import '../components/charts/gauge/gauge.scss';

body {

  &.green {
    background-color: green;
  }

  &.yellow {
    background-color: yellow;
  }

  &.orange {
    background-color: orange;
  }

  &.red {
    background-color: red;
  }

  font-size: 12pt;
  font-family: "Ethica Book";

  .row {
    display: flex;
    align-items: center;
  }
}

